.myblog  {
  display: flex;
  justify-content: center;
}

.myblog nav {
  color: white;
  font-weight: bolder;
}

.myblog ul {
  list-style: none;
  margin: 0;
  
  padding:0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.myblog ul li {
  margin: 15px;
  font-size: 20px;
  text-decoration: none;
}

.myblog ul li a{ 
  text-decoration: none;
}

.myblog nav .user img {
  height: 100%;
  width: 50px;
}

.myblog nav {
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-image: url(../images/green22.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height:90px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.myblog nav button  {
  background-color: rgb(55,197,57);     /* rgb(254,35,137) */
  font-weight: bolder;
}

.myblog a.active  {
  color: rgb(1, 138, 13);
}

.myblog a:hover  {
  color: rgb(146, 125, 3);
}

.myblog .user {
  display: flex;
  flex-direction: row;
}
