.cardLogin .postText {
    text-align: justify;
    text-justify: inter-word;
  }
  
  .cardLogin .editViewButtons button {
    background-color: rgb(10, 13, 179);
    color: white;
    margin-left: 5px;
  }
  .cardLogin .editViewButtons button :hover {
    color: black;
    font-weight: bolder;
  }
  
  .cardLogin .actionButons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 35px;
    min-width: 85%;
  }
  
  .cardLogin .authorDate {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  
  .cardLogin .authorDate p {
    margin-right: 25px;
  }
  
  .cardLogin .titleAndInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardLogin .titleAndInfo h2 {
    text-align: justify;
    margin-bottom: 45px;
  }
  
  .cardLogin {
    margin-top: 120px;
    max-width: 800px;
    background-color: rgb(177, 177, 177);
    -webkit-box-shadow: -1px 6px 46px 16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 46px 16px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 6px 46px 16px rgba(0, 0, 0, 0.75);
    opacity: 0.8;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
 
  .cardLogin .loginPasswordForm {
    display: flex;
    flex-direction: row;
  }
  .cardLogin .loginPasswordForm p {
    width: 10px;
  }
  
  .cardLogin .loginPasswordForm #filled-password-input {
    height: 15px;
    padding-left: 10px;
    width: 150px
  }
  .cardLogin .loginPasswordForm #filled-basic {
    height: 15px;
    padding-left: 10px;
    width: 150px
  }

  .cardLogin  button {
    background-color: rgb(27, 29, 184);
    color: white;
    margin-top: 15px;
    
  }
  .cardLogin  button :hover {
    color: rgb(137, 160, 223);
    font-weight: bolder;
  }
  .cardLogin .editViewButtonsLogin button {
    background-color: rgb(10, 13, 179);
    color: white;
    margin-left: 5px;
    
  }
  .cardLogin .editViewButtonsLogin button :hover {
    color: rgb(180, 17, 17);
    font-weight: bolder;
  }
  