.App {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(./images/blog3.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 700px;
}

